@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  height: auto;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.logo {
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer a {
  height: 186px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  margin-bottom: 147px;
}

.logo a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 601;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

.vector {
  margin-top: 10px;
  margin-right: 35px;
  right: 10%;
  z-index: 1;
  cursor: pointer;
  font-size: 30px;
}

.Secpopupwin {
  display: none;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 68%);
  z-index: 10;
  top: 0;
  overflow: scroll;
  padding-top: 15px;
}

.Secpopupwin.active {
  display: flex;
}

.Closepop {
  position: relative;
  cursor: pointer;
  align-items: end;
  left: 95%;
  width: auto;
  padding-bottom: 0;
}

.cardWin {
  height: 791px;
  width: 80%;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 25px;
}

.popupWindowImage {
  padding-top: 24px;
  width: 100%;
}

.titleWin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  gap: 8px;
  height: 95%;
  width: 85%;
  overflow-y: scroll;
}

.headingpop {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  padding-left: 0;
  padding-top: 10px;
}

.Lorem {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 15px 12px 16px 0;
}

.buttonPop {
  text-align: center;
  padding: 8px;
  background: #36b37f;
  border-radius: 4px;
  border-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  transition: background-color 0.3s ease, width 2s, height 2s;
  gap: 60px;
  width: 150px;
}

.buttonPop:hover {
  background: #4ada9e;
}

.buttonPop:active {
  background: #008552;
}

.poplinks {
  display: flex;
  gap: 10px;
}

.newpoplinks {
  display: flex;
  gap: 10px;
}

.newbuttonPop {
  text-align: center;
  padding: 8px;
  background: #36b37f;
  border-radius: 4px;
  border-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  transition: background-color 0.3s ease, width 2s, height 2s;
  gap: 60px;
  width: 150px;
}

.newbuttonPop:hover {
  background: #4ada9e;
}

.newbuttonPop:active {
  background: #008552;
}

#source {
  text-decoration: none;
  text-align: center;
  padding-left: 10px;
}

#live {
  text-decoration: none;
  text-align: center;
  padding-left: 10px;
}

main {
  height: auto;
  overflow-x: hidden;
}

.porfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  padding: 60px 24px 0 24px;
  background-image: url("./Images/header-illsutration-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  height: 474px;
  width: 327px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background: #ebf0ee;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h1 {
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 43px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

h2 {
  padding-top: 20px;
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  color: #36b37e;
}

p {
  padding-top: 38px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.social {
  display: inline-flex;
  justify-content: center;
  padding-top: 45px;
  gap: 20px;
}

.social li {
  list-style: none;
}

.social li a {
  font-size: 20px;
  color: #505f79;
}

.disabled {
  text-align: center;
  margin-top: 65px;
}

.headerSubMenu {
  display: none;
}

.works li {
  list-style: none;
  transition: background-color 0.3 ease;
}

.language li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  list-style: none;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.Popwrapper {
  left: 100%;
  position: fixed;
  z-index: 2;
  box-sizing: border-box;
}

.Xmenu {
  cursor: pointer;
  float: right;
  padding: 10px 40px;
}

.Xmenu img {
  width: 20px;
  height: auto;
}

.PopupMenu {
  display: block;
  padding: 14px;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.PopupMenu ul {
  padding: 108px 0;
}

.server li {
  padding: 5px 6px;
  background: #ebf0ee;
  border-radius: 4px;
  list-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  transition: background-color 0.5s ease;
}

.PopupMenu ul li {
  list-style: none;
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 43px;
  line-height: 52px;
  color: #3a4a42;
  padding: 20px;
  cursor: pointer;
}

.menu_items {
  cursor: pointer;
  transition: color orange 1.5s ease-in-out;
}

.nav-links li a {
  text-decoration: none;
  color: #3a4a42;
}

.nav-links li a:hover {
  color: blue;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  color: #172b4d;
  padding: 24px;
}

.span {
  width: 48px;
  border: 3px solid #36b37e;
}

.container {
  display: grid;
  grid-template-columns: auto;
  gap: 24px;
  padding: 62px 24px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  padding-bottom: 24px;
  gap: 8px;
}

.text {
  text-align: center;
  padding: 0 5px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.server {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.server :hover {
  background-color: #5ddfa9;
}

.button1 {
  padding: 8px;
  background: #36b37f;
  border-radius: 4px;
  border-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  transition: background-color 0.3s ease, width 2s, height 2s;
}

.button1:hover {
  background: #4ada9e;
}

.button1:active {
  background: #008552;
}

.button {
  padding: 8px;
  background: #36b37f;
  border-radius: 4px;
  border-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  transition: background-color 0.3s ease, width 2s, height 2s;
}

.button:hover {
  background: #4ada9e;
}

.button:active {
  background: #008552;
}

.about > h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about > p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  padding-bottom: 24px;
}

.about .button {
  margin-bottom: 60px;
}

.tools {
  display: grid;
  padding-left: 100px;
  padding-right: 100px;
  grid-template-rows: auto auto auto;
  gap: 15px;
}

.works {
  width: 250px;
  height: 352px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.work :hover {
  background-color: #172b4d;
}

.languages {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.frameworks {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.skills {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.language {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 8px;
  flex-wrap: wrap;
}

.language li:hover {
  background-color: #344f81;
  color: white;
}

.contact p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px 70px;
}

footer {
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  background-image: url("./Images/illustration-contact-form.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
}

footer .social {
  padding-top: 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  background-image: url("./Images/illustration-aboutme-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fname {
  padding: 10px;
  width: 327px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

#email {
  padding: 10px;
  width: 327px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

#type {
  padding: 10px;
  width: 327px;
  height: 114px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}

.display-error {
  font-size: 15px !important;
  color: red;
  padding: 0;
}

.Xpopmenu {
  float: right;
  cursor: pointer;
}

.buttonDiv {
  padding: 8px;
  background: #36b37f;
  border-radius: 4px;
  border-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  transition: background-color 0.3s ease, width 2s, height 2s;
  gap: 60px;
  width: 150px;
}

@media screen and (max-width: 426px) {
  .newpoplinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .poplinks {
    top: 125%;
  }
}

@media screen and (max-width: 768px) {
  .poplinks {
    display: none;
    position: absolute;
    top: 89%;
    right: 20%;
    height: 55px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .porfolio {
    background-image: url("./Images/header-llustration-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
  }

  .modal-body {
    display: flex;
    gap: 100px;
  }

  .poplinks {
    display: flex;
    gap: 12px;
  }

  .buttonPop {
    height: 45px;
  }

  .newbuttonPop {
    display: none;
  }

  .headerSubMenu {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 20px;
    position: relative;
    margin-top: -20px;
    cursor: pointer;
  }

  .headerSubMenu li {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #3a4a42;
    list-style: none;
    padding: 5px 7px;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease;
  }

  .headerSubMenu li a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #3a4a42;
    list-style: none;
    padding: 5px 7px;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }

  .headerSubMenu li a:hover {
    background-color: #313741;
    color: white;
  }

  .Secpopupwin.active {
    display: flex;
  }

  .header {
    display: none;
  }

  #fname {
    width: 700px;
  }

  .work {
    width: 250px;
  }

  #email {
    width: 400px;
  }

  #type {
    width: 400px;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 100px;
    padding-right: 100px;
    gap: 24px;
  }

  h1 {
    margin-top: 150px;
  }

  .logo,
  .vector {
    display: none;
  }

  .tools {
    display: grid;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-columns: auto auto auto;
    gap: 15px;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    background-image: url("./images/Group.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 2px;
  }

  .card {
    height: 474px;
    width: 250px;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    background: #ebf0ee;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  #fname {
    width: 530px;
  }

  #email {
    width: 530px;
  }

  #type {
    width: 530px;
  }

  .card {
    height: 474px;
    width: 350px;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    background: #ebf0ee;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .modal-body {
    display: flex;
    gap: 200px;
  }
}
